[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
plotly = "*"
scipy = "*"
pandas-profiling = "*"
statsmodels = "*"
sklearn = "*"
jupyter = "*"
flake8 = "*"
lightgbm = "*"
fastparquet = "*"
loguru = "*"

[requires]
python_version = "3.9"
